@model Usuario
@{
    ViewData["Title"] = "Cadastrar Usuario";
}

<h1>Cadastrar Usuário</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="Cadastrar" method="post">
    <partial name="_Form" />
    <div class="mt-4">
        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-dark">Lista de Usuários</a>
            <botao></botao>
        </div>
    </div>
</form>
