@model Usuario
@{
    ViewData["Title"] = "Edição de Usuário";
}

<h1>Edição de Usuário</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" />
    <partial name="_Form" />
    <div class="mt-4">
        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-light">Cancelar</a>
            <botao texto="Editar"></botao>
        </div>
    </div>
</form>