@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vax - Controle de Vacinas</h1>
    <a asp-controller="usuario" asp-action="cadastrar" class="btn btn-sm btn-outline-danger">Cadastro de Usuário</a>
    <a asp-controller="usuario" asp-action="index" class="btn btn-sm btn-outline-danger">Listagem de Usuários</a>
</div> 
