@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    Projeto de Controle de Vacinas, para Global Solution da FIAP, feito no ano de 2023 para a matéria de ENTERPRISE APPLICATION DEVELOPMENT, lecionada por o professor Marcel Wagner, criado pelos alunos:
    <br></br>
    Abner Rodrigues Ferreira - RM: 93576
    <br></br>
    Davi Oliveira Da Silva - RM: 95535
    <br></br>
    Emerson Nascimento Figueredo Silva - RM:95199
    <br></br>
    Guilherme De Jesus Ferreira - RM: 95542
    <br></br>
    João Victor Oliveira Da Silva - RM: 94231
</p>